
/* table{ */
  /* height: 500px;
  width: 500px;
  border: 1px solid ;
  margin: auto; */
  

/* }
.black{
    width: 50px;
    background-color: green;
    color: white;
    text-align: center;
    font-size: 2rem;
  
}

.white{
    width: 50px;
 color:black;
 text-align: center;
 font-size: 2rem;
  */
.container{
  
  
  margin-left:300px;
  
}
.box{
 
  height: 100px;
  width: 100px;
  
 font-size: 3rem;
  display: inline-block;
  text-align: center;
  margin: -2px;
  border: 1px solid black;
  
  
  
}

.black:nth-child(odd){
  background-color: black;
  color: white;
}

.black:nth-child(even){
  background-color: black;
  color: whitesmoke;
}



  
  



